body{
  height:100%;
  background: #FFEFBA;  /* fallback for old browsers */
}

h1{
  text-transform: uppercase;
  background: #86b7f8;
  color:white;
  margin: 0;
  padding:10px 28px;
  font-weight: 400;  
  font-family: 'Roboto', sans-serif;

}
input{
  background: white;
  width: 100%;
  box-sizing: border-box;
  height:50px ;
  font-size: 20px;
  font-weight: 0.5px;
  font-family: 'Roboto', sans-serif;
  padding-left:25px;
  border: 3px solid #D1D1D1;
  color:#D1D1D1;
}
input:focus{
  background: #F7F4F4;
  border: 3px solid #86b7f8;
  outline:none;
  color: #86b7f8;
}

span{  
  text-align:center;
  height:50px;
  width: 0;
  opacity: 0;
  -webkit-transition:0.25s;
  transition: 0.25s linear;
}
#text{
  font-family: 'Roboto', sans-serif;
}


i{
  cursor: pointer;
  margin-right:3px;
}
i:hover{
  cursor: grab;
}

i.fas.fa-trash:hover{
  color:red;
  
}
i.fas.fa-edit:hover{
  color:#6FD25A;
}


#todo{
  margin: 0 auto ;
  box-shadow: 0 0 1em black;
  max-width: 400px;
  height:100%;
  background:white;
  position:relative;
}

.todos{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.todos li{
  background: #F7F4F4;
  height:50px;
  line-height: 50px;
  cursor: pointer;
  font-size: 20px;
}
.todos li:nth-child(2n){
  background:#edf1f5;
}
.todos li:hover span{
  width: 50px;
  opacity: 1.0;
  margin-left: 5px;
}
.display{
  display:none;
  transition: 0.3s linear;
}
.checked{
  color:gray;
  text-decoration:line-through;
}

/*  if screen size less than 450px, resize tips lists and close btn so they don't overlap */
@media screen and (max-height: 450px) {
  #todo{
      width:100%;
      height:100%;
  }
}